@font-face{
    font-family: 'Museo Sans Cyrl';
    src: url('/fonts/MuseoSansCyrl-300.ttf');
    font-weight: 300;
}
@font-face{
    font-family: 'Museo Sans Cyrl';
    src: url('/fonts/MuseoSansCyrl-500.ttf');
    font-weight: 500;    
}
@font-face{
    font-family: 'Museo Sans Cyrl';
    src: url('/fonts/MuseoSansCyrl-700.ttf');
    font-weight: 700;    
}


@font-face{
    font-family: 'Neumann';
    src: url('/fonts/TD-Neumann.otf');
    font-weight: 400;    

}